build.properties
runtime-conf.xml
-conf.php
config.php
config/*.xml
config/*.sql

error_log
slim_log
epndomain.txt
google*.html
.DS_Store*

*.swp
schools.json
.sass-cache

public/css
public/css/*
assets/css/compiled
assets/css/compiled/*
public/js
public/js/*

production
emergency
isbn
fakeprod
.gbemail

public/images/apple-touch-icon-precomposed-retina.png
public/images/apple-touch-icon-precomposed.png
public/images/logo.png
public/images/og_image.png
public/images/square256.png
public/images/square512.png
public/images/squareFBStream.png
