/* General colors */
$gb-green: #d0fdc1;
$gb-light-green: #d5f3d5;
$gb-dark-green: #afe49d; 

$gb-orange: #FBD583;
$gb-light-orange: #f6da9a;
$gb-dark-orange: #f1ca75;

/* Button colors */
$gb-button-green-top: #d9fdca;
$gb-button-green-bottom: #b8e0ad;
$gb-button-green-hover-top: #cdf3bd;
$gb-button-green-hover-bottom: #aad49f;

/* Generic gradient colors */
$gb-cell-red-top: #ffd5c6;
$gb-cell-red-bottom: #f5c4b0;
$gb-cell-green-top: $gb-green;
$gb-cell-green-bottom: #b6e8ae;
$gb-cell-yellow-top: #fff6a5;
$gb-cell-yellow-bottom: #f1eaa8;
$gb-cell-orange-top: $gb-orange;
$gb-cell-orange-bottom: $gb-dark-orange;
$gb-cell-gray-light-top: #e6e6e6;
$gb-cell-gray-light-bottom: #e0e0e0;
$gb-cell-gray-dark-top: #d8d8d8;
$gb-cell-gray-dark-bottom: #dbdbdb;

/* Generic hover gradient colors */
$gb-cell-green-hover-top: #bfe7b4; 
$gb-cell-green-hover-bottom: #acdba5;

/* Text colors */
$gb-text-gray: #595959; //696969;
$gb-text-black: #111;

/* Other colors */
$main-box-shadow-color: #000;
$link-color: #282fb5;
